@font-face {
    font-family: 'GT America';
    src: url('./fonts/GT-America-Standard-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GT America';
    src: url('./fonts/GT-America-Standard-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  